.container {
  background-color: white;
  width: 200px;
  height: 200px;
  padding: 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 5px 5px 5px hsla(229, 25%, 31%, 0.2);
  border-width: 25px;
  border-style: solid;
}

.paper {
  border-color: hsl(230, 89%, 62%);
}

.rock {
  border-color: hsl(349, 71%, 52%);
  grid-column: span 2;
}

.scissors {
  border-color: hsl(39, 89%, 49%);
}

@media (max-width: 500px) {
  .container {
    width: 150px;
    height: 150px;
    border-width: 10px;
  }
}
